
#hit{
    width: 3em;
    height: 3em;
    background-color: chartreuse;
}





.roast {
    display: flex;
    flex-direction: row;
}

.fighter {
    margin: 1em;
    border: solid 0.5em orange;
    height: 10em;
    width: 15em;
}

.elegido {
    margin: 1em;
    border: solid 0.5em rgb(255, 0, 0);
    height: 17em;
    width: 14em;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.foto {
    width: 100%;
}

#alexKiddPic{
    height: 100%;
}

#zeldaPic{
    height:  50%;
}

#donkeyKongPic{
    height: 110%;
}