.background {
    height: 200vh;
    width: 100vw;
    background-color: grey;
}

.mensajeElegir {
    font-size: xx-large;
    width: 40em;
    height: 40em;
    margin: auto;
    margin-left: 15em;
    margin-top: 2em;
    color: rgb(101, 255, 101);
    font-family: 'Press Start 2P';
}

.general1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.fighters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.fighter {
    border: solid 0.5em red;
    margin: auto;
    border-radius: 20%;
}

.fighter img {
    width: 10em;
}

.pegarClick {
    margin: auto;
    border-radius: 100%;
}

.fightButton {
    height: 6em;
    width: 8em;
    justify-self: center;
    margin-top: 5em;
}

.fightButton:active {
    height: 5.9em;
    width: 7.7em;
    text-shadow: cornflowerblue;
}

.selected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.warriorStyle {
    border: solid 0.5em rgba(134, 101, 101, 0.089);
    justify-content: center;
}

.warriorStyle img {
    width: 10em;
}

.general2 {
    display: flex;
    flex-direction: column;
}

.oponents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: auto;
}

#warrior1 {
    margin-top: 2em;
    margin: auto;
    justify-content: center;
}

#warrior2 {
    width: 20em;
    height: 20em;
    margin-top: 2em;
    margin: auto;
}

.name {
    color: rgb(255, 0, 0);
}

.health {
    color: chartreuse;
}

.strength {
    color: chartreuse;
}

.defense {
    color: chartreuse;
}

.agility {
    color: chartreuse;
}

.stamina {
    color: chartreuse;
}

.general3 {
    display: flex;
    flex-direction: column;
}

#winnerPic {
    height: 30em;
    width: 30em;
    justify-self: center;
    margin-left: 20em;
    animation: cubic-bezier(0.77, 0, 0.175, 1);
}

#winnerText {
    font-size: xx-large;
    color: chartreuse;
    font-family: 'Press Start 2P';
    justify-self: center;
    text-align: center;
}

.resetButton {
    display: flex;
    flex-direction: row;
}

#reset {
    margin-top: 15em;
    height: 10em;
    width: 10em;
    border-radius: 100%;
    justify-self: center;
    margin: auto;
    justify-content: center;
    background-color: crimson;
    background: linear-gradient(crimson, rgba(255, 0, 51, 0.37));
}

.choosenText {
    font-size: x-large;
    color: deeppink;
}

.imagenesConsolas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5em;
}

#segaPic {
    height: 15em;
    width: 20em;
    margin: auto;
    margin-right: 5em;
    margin-top: 5em;
}

#segaImg:hover {
    height: 13em;
    width: 18em;
}

#nintendoPic {
    height: 15em;
    width: 20em;
    margin: auto;
    margin-left: 5em;
    margin-top: 5em;
}