.background {
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

.mensajeElegir {
    margin: auto;
    margin-left: 20em;
    margin-top: 5em;
    color: rgb(101, 255, 101);
}

.general1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.fighters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.fighter {
    border: solid 0.5em red;
    margin: auto;
}

.fighter img {
    width: 6em;
}

.pegarClick {
    width: 6em;
    height: 6em;
    background-color: chartreuse;
    margin: auto;
}

.selected {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.warriorStyle {
    border: solid 0.5em red;
    margin: auto;
}

.warriorStyle img {
    width: 6em;
}

#playAgain {
    height: 3em;
    width: 4em;
    background-color: deeppink;
}